body {
  font-size: 16px;
  font-family: "Roboto Regular", Verdana, sans-serif;
  line-height: 22px;
}

h1, h2 {
  font-weight: bold;
  font-size: 35px;
  color:#ffffff;
  font-family: "Roboto Regular", Verdana, sans-serif;
}
